.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 85vh;
  width: 100%;
}
.contact-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 550px;
  width: 600px;
  background-color: rgb(255, 0, 0);
  border-radius: 40px;
}

.contact-block > h1,
h3,
.contact-block>p {
  color: white;
  height: 15px;
  width: 500px;
}

form {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 100%;
  margin-top: 40px;
  gap: 1em;
}

form > input,
select,
option {
  font-size: 18px;
  height: 40px;
  max-width: 100%;
}

form > button {
  width: 100px;
  height: 30px;
  font-size: 18px;
  background-color: white;
  border: none;
}

textarea {
  height: 100px;
  max-width: 100%;
  font-size: 18px;
  resize: none;
}
