.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 450px;
  width: 450px;
  color: white;
  background-color: red;
  border-radius: 30px;
}

.profile-mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 50px;
}

.profile-mid > button {
  position: absolute;
  background-color: white;
  color: red;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid;
  margin-top: 340px;
}

.profile-mid > button:hover{
  background-color: red;
  color: white;
  border: 1px solid white;
}

.favorite-meals {
  max-height: 100px;
  overflow-y: auto;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid rgb(190, 190, 190); 
  border-radius: 5px;
}

.favorite-meals ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.favorite-meals li {
  margin-bottom: 5px;
}

