.recipes{
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.search-bar {
    margin-top: 1em;
    text-align: center;
    font-size: 25px;
    height: 80px;
    width: 300px;
    border-radius: 50px;
    font-family: "Ubuntu", sans-serif;
    border: 1px solid #ccc;
    padding-left: 20px;
    background-image: url('..\\images\\search-icon.png'); /* Arama ikonu */
    background-size: 40px 40px;
    background-position: 95% center;
    background-repeat: no-repeat;
    padding-right: 40px;
  }

.card-section{
    display: grid;
    height: 70%;
    width: auto;
    background-color: rgb(255, 0, 0);
    grid-template-columns: repeat(4,1fr);
    border-radius: 30px;
    gap: 1em;
}
img{
    height: 120px;
    width: 130px;
    border-radius: 50%;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: white;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 200px;
    border: 1px solid white;
    background-color: rgb(255, 62, 62);
    border-radius: 30px;
    margin: 20px;
    
}
.card:hover{
    background-color: rgb(252, 89, 89);
    cursor: pointer;
}
.card:active{
    background-color: rgb(255, 115, 115)
}